$headColor: #4166e1;

tr {
  height: 10px;
  height: auto !important;
}


.d-flex {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
}

td,
th,
table {
  border: 0.5px solid rgba(224, 224, 224, 1);
  border-collapse: separate !important;
}

.css-m596zz-MuiTableCell-root {
  background-color: #4166e1 !important;
  padding: 0;
}

.MuiTableHead-root {
  background-color: $headColor;

  th {
    padding: 0px 0px 0px 3px;
  }

  span {
    color: white;
  }

  path {
    color: white
  }

  span:hover {
    color: white;
  }

  .css-1qgma8u-MuiButtonBase-root-MuiTableSortLabel-root.Mui-active {
    color: white;
  }

}

.percentage {
  fill: #666;
  font-size: 1rem !important;
  text-anchor: middle !important;
  font-weight: 700 !important;
}

.Mui-selected {
  background-color: #6f707814 !important;
}

.css-1ex1afd-MuiTableCell-root {
  padding: 0px 16px !important;
}

input[type="file"] {
  display: none;
}

label {
  cursor: pointer;
}

.btn_group {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.css-19j2ec4 {
  padding: 6px 10px !important;
}